.search {
    &-form {
        margin-top: 100px;

        input {
            width: 75%;
            padding: 8px 15px;
            border: 1px solid $gray-color;
            border-radius: 5px;
        }

        .button {
            @include button ($main-color, $white-color, $main-color);
            font-size: 22px;
            margin-right: 25px;
        }
    }

    &-line {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        span {
            font-size: 20px;
            margin-left: 10px;
        }

        select {
            border: 1px solid $gray-color;
            border-radius: 5px;
            padding: 5px 15px;
        }
    }

    &-articles {
        .article-card {
            padding: 20px;
            border-bottom: 1px dotted $gray-color;

            &:hover {
                h4 {
                    text-decoration: underline;
                }
            }

            h4 {
                font-size: 22px;
                color: $black-color;
            }

            p {
                font-size: 16px;
                margin-top: 10px;
                color: $black-color;
                text-align: justify;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            time {
                font-size: 16px;
                color: $gray-color;
            }
        }
    }
}

.more-results {
    margin: 75px;

    .button {
        @include button($main-color, $white-color, $main-color);
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .search {
        &-form {
            input {
                width: 65%;
            }
        }
                 &-articles {
                     .article-card {
                         h4 {
                             font-size: 18px;
                         }
        
                         p {
                             font-size: 12px;
                             margin-top: 0;
                         }
        
                         time {
                             font-size: 12px;
                         }
                     }
                 }
    }
        .more-results {
            .button {        
                font-size: 18px;
            }
        }
       
}